Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading the dataset to a Pandas DataFrame

In [2]:
credit_card_data=pd.read_csv('creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Distribution of legit transactions & fraudulent transactions

In [5]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Separating the dataset for the analysis

In [6]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [7]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

Statistical measure of the Legit Transactions Amount Data

In [8]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

 Statistical measure of the Fraud Transactions Amount Data

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Compare the values for both the transactions

In [10]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling:
Build a Sample Dataset containing similar distribution of normal and fraudulent transactions

Creating a Sample Dataset of 492 transactions, as there are same number of fraudulent transactions

In [11]:
legit_sample=legit.sample(n=492)

Concatenating two dataframes (legit_sample,fraud)

In [12]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

When axis = 0, the dataframe are concatenated row-wise,
if axis = 1, the dataframe are concatenated column-wise

In [13]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171345,120599.0,2.060821,-1.642226,-1.838693,-1.705384,-0.566788,-0.241064,-0.564530,-0.196505,-1.827340,...,-0.199792,-0.432607,0.097458,0.201728,-0.083801,-0.272339,-0.049013,-0.044595,149.99,0
49358,44018.0,1.019413,-0.986524,1.373268,0.463998,-1.570271,0.587294,-1.236671,0.501778,1.786712,...,-0.056458,-0.021649,-0.101922,0.069697,0.149793,1.104980,-0.031753,0.011071,72.50,0
153237,98276.0,2.096457,0.138298,-1.955152,0.284772,0.443410,-1.718258,0.678713,-0.638588,1.603331,...,0.003822,0.344237,-0.027466,-0.035383,0.368493,0.205866,-0.117522,-0.084768,18.96,0
34308,37605.0,-0.413610,-0.083960,2.198258,-0.991902,0.319096,1.278010,-0.178238,0.437855,0.719819,...,0.083243,0.706806,0.141336,-0.543630,-0.906253,0.848982,-0.088955,-0.194383,1.00,0
63399,50696.0,1.090042,0.874806,0.550762,3.575543,0.322272,-0.073845,0.406764,-0.060112,-1.885953,...,0.021251,-0.054260,-0.073378,0.318924,0.569584,-0.020533,-0.031968,0.013843,22.71,0

In [14]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [15]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94207.239837,0.091550,-0.080441,-0.027354,-0.028029,0.070874,-0.014823,0.062901,-0.011286,-0.065698,...,0.048657,-0.006487,-0.034583,-0.018779,0.035484,0.023278,-0.001181,-0.024199,-0.004718,98.816748
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the Dataset into Features and Targets

Target = 'Class', Features = 'Other Columns of Dataframe'

In [17]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [18]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
171345,120599.0,2.060821,-1.642226,-1.838693,-1.705384,-0.566788,-0.241064,-0.564530,-0.196505,-1.827340,...,-0.128129,-0.199792,-0.432607,0.097458,0.201728,-0.083801,-0.272339,-0.049013,-0.044595,149.99
49358,44018.0,1.019413,-0.986524,1.373268,0.463998,-1.570271,0.587294,-1.236671,0.501778,1.786712,...,-0.076396,-0.056458,-0.021649,-0.101922,0.069697,0.149793,1.104980,-0.031753,0.011071,72.50
153237,98276.0,2.096457,0.138298,-1.955152,0.284772,0.443410,-1.718258,0.678713,-0.638588,1.603331,...,-0.313812,0.003822,0.344237,-0.027466,-0.035383,0.368493,0.205866,-0.117522,-0.084768,18.96
34308,37605.0,-0.413610,-0.083960,2.198258,-0.991902,0.319096,1.278010,-0.178238,0.437855,0.719819,...,-0.135348,0.083243,0.706806,0.141336,-0.543630,-0.906253,0.848982,-0.088955,-0.194383,1.00
63399,50696.0,1.090042,0.874806,0.550762,3.575543,0.322272,-0.073845,0.406764,-0.060112,-1.885953,...,-0.082275,0.021251,-0.054260,-0.073378,0.318924,0.569584,-0.020533,-0.031968,0.013843,22.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [19]:
Y

171345    0
49358     0
153237    0
34308     0
63399     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into training data and testing data

In [20]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y)

Given 20% of the data from the dataset to test and using to stratify to evenly distribute the data

In [21]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

In [22]:
model=LogisticRegression()

In [23]:
model.fit(X_train,Y_train)

c:\Users\Aviral\Downloads\Data_Science\Introduction_to_Python\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Accuracy on the Training Data

In [24]:
X_train_prediction=model.predict(X_train)
train_accuracy=accuracy_score(X_train_prediction,Y_train)
train_accuracy

0.9440914866581956

Accuracy on Test Data

In [25]:
X_test_prediction=model.predict(X_test)
test_accuracy=accuracy_score(X_test_prediction,Y_test)
test_accuracy

0.9695431472081218

Since the Accuracy Scores of the training data and test data are almost similar so, it can be said that the model is a perfect fit.

Building a Predictive System:

In [26]:
input_data=(97235,-17.5375916846763,12.3525186682391,-20.1346128135864,11.1227714331133,-14.5710801396343,-0.381622313270995,-23.9286610291615,-4.72492103304407,-8.6030380974132,-15.2318333653018,4.41705461009659,-12.8935202086054,-0.10962845638889,-3.54722989444144,-2.17782399757845,-10.4020683266181,-18.3720191223339,-8.31409231206699,2.43582348553379,1.9251025961188,-4.35221313065903,2.38904092140055,2.01912792631133,0.627191869568278,-1.08599721239039,-0.0718032360759346,-3.83819790404877,-0.802564460951448,9.82)

Changing the input data to numpy array

In [27]:
input_data_ar=np.asarray(input_data)

Reshape the numpy array, as we predicting for single instance

In [28]:
input_data_rs=input_data_ar.reshape(1,-1)

In [29]:
prediction=model.predict(input_data_rs)
print(prediction)
if (prediction[0]==0):
    print("Legit Transaction")
else:
    print("Fraudulent Transaction")

[1]
Fraudulent Transaction

c:\Users\Aviral\Downloads\Data_Science\Introduction_to_Python\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(